@charset "UTF-8";

* {
   
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    margin: auto auto;
    border: 3px solid blue;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 40px;
    
}

h1 {
    text-align: center;
    font-size: 3rem;;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





div.tarefas {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
  
}

div.tarefas input {
    width:80%;
    height: 120px;
    
}

div.tarefas button#btnAdd {
    width: 20%;
    height: 120px;
    background-color: rgb(3, 180, 3);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}


div.tarefas button:hover {
    background-color:rgb(2, 134, 2)
}


.item {
    display: grid;
    
    justify-content: center;
    gap: 3rem;
    height: 80px;
    width: 100%;
    background-color: white;
    padding: 25px;
    margin: 20px;
    border: 3px solid red;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 20px green;
    grid-template-areas: "icone  nome   nome   nome   botao"
}



.item-icone {
    grid-area: icone;
    /*flex: 20%;*/
    font-size: 2rem;
    text-align: center;
}

.item-nome {
    grid-area: nome;
    /*flex: 55%;*/
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: green;
}


.item-button {
    grid-area: botao;
    /*flex: 25%;*/
}

.delete {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    
}


/*
div.item button#delete{
    width: 20%;
    height: 100%;
    background-color: red;
    color: white;
    width: 100%;

}
*/